.item-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;

  @media (max-width: 768px) {
    margin-top: 1rem;
  }
}


.card{
  height: fit-content !important;
  width: fit-content !important;
}

.item-image {
  width: 30%;
  height: 100%;
  border-radius: 10px;
}

.item-details  {
  height: 100% !important;
  width: 100% !important;
  border-radius: 10px;
}

.item-details .list-group-item {
  padding: .25rem;
}

.item-details .list-group-item .term{
  margin-right: .5rem;
}