

@media only screen and (max-width: 766px) {
  .item-list {
    display: flex;
    padding-bottom: 2%;
  }
}

.item-list .list-group-item {
  cursor: pointer;
}

.list-group-item{
  height: 100%;
}

.col-md-6 .list-group{
  height: 100%;
}


.item-list .list-group-item:hover {
  background-color: #444;
}